
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin-top: 60px;
	padding: 0;
	background: #FFFFFF url(/assets/img01.gif) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #181B20;
	text-align:justify;
text-justify:inter-word;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	color: #2483A6;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #E91370;
}

a:hover {
	text-decoration: underline;
}

img.border {
	margin-bottom: 20px;
	border: 6px solid #EEE7DF;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header-wrapper {
	height: 100px;
}

#header {
	width: 960px;
	height: 167px;
	margin: 0 auto;
}

/* Logo */

#logo {
	width: 980px;
	margin: 0px auto;
	padding: 40px 0px 0px 0px;
	color: #444444;
}

#logo h1, #logo p {
	display: block;
	margin: 0;
	padding: 0;
}

#logo h1 {
	margin: 0px;
	letter-spacing: -1px;
	text-align: center;
	text-transform: uppercase;
	font-size: 54px;
	font-weight: bold;
	color: #444444;
}

#logo h1 a {
	color: #E91370;
}

#logo p {
	margin-top: -10px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-size: 20px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #444444;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 100px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 60px 0 0 30px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 195px;
	padding: 6px 10px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #7F7F81;
}

#search-submit {
	display: none;
}

/* Menu */

#menu-wrapper {
	height:68px;
}

#menu {
	width: 600px;
	height: 58px;
	margin: 0px auto;
	
	/*padding: 0px 20px 0px 20px;*/
}

#menu ul {
	margin: 0;
	width: 960px;
	list-style: none;
	line-height: normal;
	
}

#menu li {

	display: inline;
}

#menu a {
	height: 56px;
	margin: 0px;
	/*padding: 10px 30px 10px 30px;*/
	line-height: 46px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #262626;
	border: none;
}

#menu .current_page_item a {
	background: #E91370;
	color: #FFFFFF;
}

#menu a:hover {
	background: #E91370;
	text-decoration: none;
	color: #FFFFFF;
}

/* Page */

#page {
	background: url(/assets/img03.gif) repeat-y center top;
}

#page-bgtop {
	background: url(/assets/img02.gif) no-repeat center top;
}

#page-bgbtm {
	overflow: hidden;
	background: url(/assets/img04.gif) no-repeat center bottom;
}

#page-content {
	width: 940px;
	margin: 0px auto;
}

/* Content */

#content {
	float: left;
	width: 640px;
	padding: 0px 0px 0px 0px;
}

.post {
	clear: both;
	padding-bottom: 10px;
}

.post .title {
	padding-top: 10px;
	letter-spacing: -2px;
}

.post .title a {
	color: #E91370;
	border: none;
}

.post .meta {
	padding-bottom: 10px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 250px;
	padding: 0px 0px 0px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	color: #181B20;
}

#sidebar h2 {
	height: 38px;
	margin-bottom: 20px;
	padding: 12px 0 0 0px;
	border-bottom: 1px dashed #B3B0B0;
	letter-spacing: -1px;
	font-size: 24px;
	color: #E91370;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 0px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}


/* Footer */

#footer {
	width: 960px;
	height: 55px;
	margin: 0px auto 40px auto;
	background: url(images/img07.gif) no-repeat center top;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	text-align: center;
	color: #576475;
}

#footer a {
	color: #576475;
}

/* Banner */

#banner {
	margin-top: 20px;
	margin-bottom: 30px;
}

/* Positioning */
#slider #slides_image .slide.one {
    left: 400px;
    top: 0;

    -webkit-animation: fadeOne 16s infinite;
    -moz-animation: fadeOne 16s infinite;
   /* animation: fadeOne 16s infinite;*/
}

#slider #slides_image .slide.two {
    left: 900px;
    top: 500px;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);

    -webkit-animation: fadeTwo 16s infinite;
    -moz-animation: fadeTwo 16s infinite;
/*    animation: fadeTwo 16s infinite;*/
}

#slider #slides_image .slide.three {
    left: 400px;
    top: 1000px;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);

    -webkit-animation: fadeThree 16s infinite;
    -moz-animation: fadeThree 16s infinite;
   /* animation: fadeThree 16s infinite;*/
}

#slider #slides_image .slide.four {
    left: -100px;
    top: 500px;

    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);

    -webkit-animation: fadeFour 16s infinite;
    -moz-animation: fadeFour 16s infinite;
   /* animation: fadeFour 16s infinite;*/
}

#slider #slides_info .slide_info.one {
    left: 400px;
    top: 0;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);

    -webkit-animation: fadeThree 16s infinite;
    -moz-animation: fadeThree 16s infinite;
   /* animation: fadeThree 16s infinite;*/
}

#slider #slides_info .slide_info.two {
    left: 800px;
    top: 400px;

    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);

    -webkit-animation: fadeFour 16s infinite;
    -moz-animation: fadeFour 16s infinite;
   /* animation: fadeFour 16s infinite;*/
}

#slider #slides_info .slide_info.three {
    left: 400px;
    bottom: 0;

    -webkit-animation: fadeOne 16s infinite;
    -moz-animation: fadeOne 16s infinite;
  /*  animation: fadeOne 16s infinite;*/
}

#slider #slides_info .slide_info.four {
    left: 0;
    top: 400px;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);

    -webkit-animation: fadeTwo 16s infinite;
    -moz-animation: fadeTwo 16s infinite;
   /* animation: fadeTwo 16s infinite;*/
}

/* Slider Styles */
#slider_wrapper {
    position: relative;
   /* margin: 100px auto;*/
    width: 1000px;
    height: 400px;
    overflow: hidden;
}

#slider {
    width: 900px;
    height: 300px;
    top: 50px;
    left: 50px;
    position: relative;
}

#slider #slides_image {
    position: absolute;
    top: 0;
    left: 0px;
    width: 1300px;
    height: 1300px;

    -webkit-animation: rotate 16s ease infinite;
    -moz-animation: rotate 16s ease infinite;
    /*animation: rotate 16s ease infinite;*/
}

#slider #slides_info {
    position: absolute;
    bottom: 0;
    left: -400px;
    width: 1100px;
    height: 1100px;

    -webkit-animation: rotate 16s ease infinite;
    -moz-animation: rotate 16s ease infinite;
   /* animation: rotate 16s ease infinite;*/
    z-index: 5;
}

#slider #slides_info .slide_info {
    width: 300px;
    height: 300px;
    position: absolute;
}

#slider #slides_image .slide {
    width: 500px;
    height: 300px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    background: 50% 50% no-repeat;
}

/* Text Styles */
#slider #slides_info .slide_info h2 {
    color: #333;
    font-family: "Droid Sans", sans-serif;
    margin: 0;
    font-weight: normal;
    font-size: 24px;
    padding-bottom: 5px;
}

#slider #slides_info .slide_info p {
    color: #666;
    font: 13px/18px Arial, sans-serif;
    text-shadow: 1px 1px #eee;
}

/* Button */
#slider a.button {
    display: inline-block;
    height: 40px;
    background: #ededed;
    padding: 0 15px;
    bottom: 0;
    left: 0;
    font: 13px/40px Arial, sans-serif;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    margin-top: 40px;
}
/*
#slider:hover #slides_image,#slider:hover #slides_info,#slider:hover #slides_image .slide,#slider:hover #slides_info .slide_info {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
}

#slider:hover .slide img {
    filter: alpha(opacity=50);
    opacity: .5;
}
*/
/* Animation Keyframes */

@-moz-keyframes rotate { 
    0% {
        -moz-transform: rotate(0deg);
    }
    20% {
        -moz-transform: rotate(0deg);
    }
    25% {
        -moz-transform: rotate(-90deg);
    }
    45% {
        -moz-transform: rotate(-90deg);
    }
    50% {
        -moz-transform: rotate(-180deg);
    }
    70% {
        -moz-transform: rotate(-180deg);
    }
    75% {
        -moz-transform: rotate(-270deg);
    }
    95% {
        -moz-transform: rotate(-270deg);
    }
    100% {
        -moz-transform: rotate(-360deg);
    }
}
@-webkit-keyframes "rotate" { 
    0% {
        -webkit-transform: rotate(0deg);
    }
    20% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(-90deg);
    }
    45% {
        -webkit-transform: rotate(-90deg);
    }
    50% {
        -webkit-transform: rotate(-180deg);
    }
    70% {
        -webkit-transform: rotate(-180deg);
    }
    75% {
        -webkit-transform: rotate(-270deg);
    }
    95% {
        -webkit-transform: rotate(-270deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

keyframes "rotate" { 
    0% { transform: rotate(0deg); }
    20% { transform: rotate(0deg); }
    25% { transform: rotate(-90deg); }
    45% { transform: rotate(-90deg); }
    50% { transform: rotate(-180deg); }
    70% { transform: rotate(-180deg); }
    75% { transform: rotate(-270deg); }
    95% { transform: rotate(-270deg); }
    100% { transform: rotate(-360deg); }
}

@-moz-keyframes fadeOne { 
    0% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
    20% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
    22% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    30% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
}
@-webkit-keyframes "fadeOne" { 
    0% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
    20% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
    22% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    30% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
}
keyframes "fadeOne" { 
    0% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
    20% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
    22% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    30% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
}

@-moz-keyframes fadeTwo { 
    0% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
    45% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
    47% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    55% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
}
@-webkit-keyframes "fadeTwo" { 
    0% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
    45% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
    47% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    55% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
}
keyframes "fadeTwo" { 
    0% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
    45% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
    47% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    55% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
}

-moz-keyframes fadeThree { 
    0% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
    70% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
    72% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    80% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
}
@-webkit-keyframes "fadeThree" { 
    0% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
    70% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
    72% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    80% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
}
keyframes "fadeThree" { 
    0% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
    70% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
    72% {
        filter: alpha(opacity=0);
        opacity: 0;
    } 
    80% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
}

-moz-keyframes fadeFour { 
    0% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    5% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    95% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
    97% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
}
@-webkit-keyframes "fadeFour" { 
    0% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    5% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    95% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
    97% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
}
keyframes "fadeFour" { 
    0% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    5% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    95% {
        filter: alpha(opacity=100);
        opacity: 1;
    }
    97% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        filter: alpha(opacity=0);
        opacity: 0;
    }
}

